.date-picker-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 700px;
    align-items: center;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 10px 10px;

    .button-date-view-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .side-panel-container {
        display: flex;
        flex-grow: 1;
    }


}