<div class="date-picker-container">
  <div class="side-panel-container">
    <app-side-panel
      [currentDateString]="currentLocaleStringData"
    ></app-side-panel>
  </div>

  <div class="button-date-view-container">
    <div class="button-container">
      <app-button-view
        [currentMonthAndYear]="currentLocaleStringData"
        (sendYear)="getYear($event)"
        (sendMonth)="getMonth($event)"
      ></app-button-view>
    </div>

    <app-dates-view
      [_datesArray]="allDatesOfMonth | async"
      [_currentMonthNumber]="currentMonthNumber"
      (getSelectedDate)="getSelectedDate($event)"
    ></app-dates-view>
  </div>
</div>
