.date-picker-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 500px;
    width: 700px;
    gap: 10px;
    align-items: center;
    margin: 0 auto;

    .button-date-view-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }


}