<div class="button-view-container">
  <div class="view-container">
    <span
      ><img
        (click)="prevMonth()"
        src="../../../../assets/60775.png"
        alt="" /></span
    ><span
      ><h2>{{ currentMonthValue }}</h2></span
    ><span
      ><img (click)="nextMonth()" src="../../../../assets/right.png" alt=""
    /></span>
  </div>
  <div class="view-container">
    <span
      ><img
        (click)="prevYear()"
        src="../../../../assets/60775.png"
        alt="" /></span
    ><span
      ><h2>{{ currentYear }}</h2></span
    ><span
      ><img (click)="nextYear()" src="../../../../assets/right.png" alt=""
    /></span>
  </div>
</div>
