.button-view-container {
    display: flex;
    flex-direction: row;
    gap: 50px;

    .view-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 15px;
    }


    img {
        cursor: pointer;
        height: 12px;
    }
}