.button-view-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;

    .month-view-container,
    .year-view-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 15px;
        width: 50%;
    }


    img {
        cursor: pointer;
        height: 12px;
        color: gray;
        background: transparent;
    }

    h2 {
        color: gray;
    }
}